*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: rgb(255, 255, 255);
}
img {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  max-width: 100%;
  display: inline-block;
}
li {
  list-style: none;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(66, 96, 138);
  text-decoration: underline white;
}

/* Header */
header {
  background-color: #b8cdcf;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
}
.logo-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.logo-container p {
  font-size: 2.4rem;
}
.logo-img {
  width: 80px;
  margin-right: 1rem;
}
nav {
  display: flex;
}
nav > ul > li {
  padding: 0.5rem;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  text-align: center;
}
.hero-section_container > h1 {
  display: flex;
  font-size: 2rem;
}
.hero-section_container > p {
  display: flex;
  font-size: 1.4rem;
  padding: 1rem;
}
.hero-section_container {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.hero-section_container a {
  background-color: #363636;
}
.hero-section_container a:hover {
  background-color: rgb(34, 50, 72);
  box-shadow: 1px 2px 4px 0 black;
  border: 1px solid white;
}
.hero-section_container a,
.planera a {
  padding: 0.5rem;
  border-radius: 2px;
  color: white;
}

/* Introduction */
.introduction-container {
  text-align: center;
  margin-block: 1rem;
}
.introduction-container > p {
  padding: 0.5rem;
}
.introduction-body h2 {
  padding: 2rem 1rem;
}

/* Activities */
.activities-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.activities-container > h2 {
  padding: 2rem 1rem;
}
.card {
  display: flex;
  flex-wrap: wrap;
  box-shadow:
    0 2px 4px 0 rgba(90, 90, 90, 0.19),
    0 2px 4px 0 rgba(90, 90, 90, 0.19);
  border-radius: 6px;
  margin: 1rem;
}
.card > img {
  border-radius: 6px 6px 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  padding-block: 1.8rem;
}

.card-body > h3 {
  padding-bottom: 2rem;
}

/* Plan Your Activities */
.planera {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.planera-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.planera-para {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.planera-para {
  padding: 1.2rem;
}
.planera > h3 {
  font-size: 2rem;
}
.planera-link {
  padding: 4rem 2rem;
  background-color: #868686;
}
.planera > a {
  padding: 1rem 6rem;
}
.planera a:hover {
  background-color: rgb(34, 50, 72);
  box-shadow: 1px 2px 4px 0 black;
  border: 1px solid white;
}
/* Footer */
footer {
  background-color: #b8cdcf;
}
.footer-body {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
}
.footer-logo_container p {
  font-size: 1.6rem;
}
.footer-para {
  padding-block: 1rem;
}
.footer-logo_container {
  padding: 1rem;
}
.footer-logo_container h3 {
  font-size: 2.4rem;
  padding-top: 1rem;
}
.footer-logo_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}
.footer-logo {
  width: 60px;
}
.footer-kontakt {
  display: flex;
  flex-direction: column;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}
.footer-list > li {
  padding: 0.5rem;
}

.footer-nav_list,
.footer-list > li {
  text-decoration-line: underline;
}

/* Media Query */
@media screen and (width >= 768px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* Header */
  header {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .logo-container {
    gap: 4rem;
  }
  .logo-img {
    width: 75px;
  }
  .logo-container > p {
    font-size: 3.6rem;
    font-weight: bold;
  }
  .header-nav > .header-nav_list {
    display: flex;
    align-items: center;
    gap: 1.7rem;
  }
  /* Hero-section */
  .hero-section_container {
    text-align: start;
    position: absolute;
    left: 80px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    justify-content: flex-start;
  }
  .hero-section_container > h1 {
    font-size: 2.4rem;
  }
  .hero-section_container > p {
    font-size: 1rem;
    padding-left: 0;
  }
  /* .hero-section {
    margin-top: 5rem;
    height: 420px;
  } */

  /* Introduction */
  .introduction-container {
    margin-top: 0.5rem;
    padding-inline: 0rem;
    margin-inline: 9rem;
  }
  .introduction-para {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .introduction-body h2 {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  /* Aktiviteter */
  .activities-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .activities-container > h2 {
    padding-block: 2.4rem;
    margin-top: 1rem;
  }
  .card-wrapper {
    align-content: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: stretch;
  }

  .card {
    max-width: 300px;
  }
  /* Planera */
  .planera {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding-block: 3rem;
  }
  .planera-body {
    align-items: start;
  }
  .planer-container {
    flex-direction: column;
    width: 500px;
  }
  .planer-container > h3 {
    flex-direction: column;
    padding-left: 2.2rem;
  }
  .planera-link_container {
    flex-direction: row;
    display: flex;
    /* width: 500px; */
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
  }
  .planera-link {
    flex-direction: column;
    width: fit-content;
    padding: 2px 10px 20px 10;
  }
  .planera a {
    padding: 1rem 5rem;
  }
  .planera-para {
    text-align: start;
    padding: 1rem 0 2rem 0;
  }

  /* Footer */
  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .footer-logo_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin-top: 0;
    margin-left: 4rem;
  }
  .footer-logo_para {
    flex-direction: column;
  }
  .footer-para {
    padding: 0;
  }
  .footer-body {
    width: 50%;
    padding-block: 1rem;
    display: flex;
    justify-content: space-around;
  }
  .footer-nav_list a:hover,
  .footer-list a:hover {
    text-decoration: underline 2px #387a83;
    color: rgb(60, 60, 60);
  }
}
