*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: rgb(231, 255, 255);
}
img {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  max-width: 100%;
}
li {
  list-style: none;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(47, 168, 28);
  text-decoration-line: underline;
  text-decoration: red;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
}
.logo-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.anchor-img {
  width: 50px;
  border: 2px solid red;
  margin-right: 1rem;
}
nav {
  display: flex;
}
nav > ul > li {
  padding: 0.5rem;
}
